
<div class="grid grid-cols-4" id="loading" style="display:none;">
    <div class="col-start-2 col-span-2 p-4 my-4 rounded-lg">
        <h1 class="flex justify-center">Please wait....
            <img src="image/loading.gif" style="width:20px; "/>
        </h1>
    
    </div>
</div>
<div class="grid grid-cols-6 py-3 mx-8">
    <div class="col-start-1 col-span-6">
       
        <%
        if(elections.length==0)
        {
        %>
        <p>You have not created any election yet. </p>
        <%   
        }
        else{
        %>
        <div class="election-list text-right">
            <p>Total Election: <%=elections.length%></p>
        </div>

        
        
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                
                <tr>
                    
                    <th scope="col" class="px-6 py-3">
                        Delete
                    </th>
                    <th scope="col" class="px-6 py-3">
                        S.No.
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Election Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Update/Edit
                     </th>
                    <th scope="col" class="px-6 py-3">
                        Manage Ballot(Question/Voters)
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Manage Ballot(Question/Voters)</span>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Launch Election
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < elections.length; i++) { %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                
                        
                        <td class="px-6"><i class="bi bi-x-octagon-fill"></i></td>
                        <td class="px-6"><%= i+1%> </td>
                        <td class="px-6"><input type="text" id="electionName<%= elections[i].id %>" name="electionName" value="<%= elections[i].name %>"  ></td>
                        <td class="px-6">
                            <a href="#" onClick="ElectionNameUpdater(<%= elections[i].id %>)">
                                <i class="bi bi-pencil-square"></i>
                            </a></td>
                        <td class="px-6 btn btn-primary">
                            <a href="/elections/<%= elections[i].id %>/ballotForm">
                                <i class="bi bi-kanban"></i>
                            </a> 
                        </td>
                        <td class="px-6 mx-auto"><i class="bi bi-rocket-takeoff"></i></td>
                        
                        
                    </tr>
                    <% } %>
                
              
            </tbody>
        </table>
        <%
        }
        %>
    </div>
</div>
</div>
